body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F8FA;
  padding: 0;
}

.header {
  background-color: #62BCFA;
  color: white;
}

.header h1, p{
  padding-left: 15px;
  margin-top: 0;
  padding-top: 0;
}

#map {
  margin: 0 auto;
}

.places {
  width: 700px;
  margin: 0 auto;
  color: black;
}

input {
  margin : 5px;
  font-size: 20px;
  size: 35;
}

.idea {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFF;
  margin: 10px 0;
  font-size: 18px;
}

.idea .address,.url,.votes {
  float: right;
  margin: 0 10px 0 0;
}

form {
  margin: 0 auto;
}

.idea .placeName,.description,.voting {
  margin: 0 0 0 10px;
}

.placeName, .voting {
  font-weight: 700;

}
.placeName {
  font-size: 25px;
}

.voting {
  font-style: italic;
  font-size: 20px;
}

.voting:hover {
  cursor: pointer;
}

