<div id='container'>
  <div id="map" style="width: 500px; height: 400px;"></div>
  <form name="placeForm">
    <input ng-model="currentPlace.name" placeholder="What's the place?"><br>
    <input ng-model="currentPlace.description" placeholder="Describe it!"><br>
    <input ng-model="currentPlace.url" placeholder="Url with more Info"><br>
    <input ng-model="currentPlace.address" placeholder="Insert the address"><br>
    <input type="submit" value="Submit" ng-click="addNewPlace()">
  </form>
  <div ng-repeat="place in data.places">
    <div>Name: {{place.name}}</div>
    <div>Description: {{place.description}}</div>
    <a href={{place.url}}>More Info</a>
    <div>{{place.address}}</div>
    <span ng-click="increment()">Votes: {{place.votes}}</span><br>
    Long: {{place.long}}<br>
    Lat: {{place.lat}}<br>
  </div>
</div>
